.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    text-align: center;
    min-height: 80vh;
    width: 100vw; 
    margin: 0; 
    background-color: #32097c; 
    color: #F3F4F6;
    box-sizing: border-box;
}

.sectionTitle {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #333;
}

.skillsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto; 
}

.skillCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s, box-shadow 0.2s;
    padding: 20px;
    background-color: #582dc6; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.skillCard:hover img {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.skillCard img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px; 
    border-radius: 50%;
    transition: transform 0.2s, box-shadow 0.2s;
}

.skillCard p {
    font-size: 1rem;
    color: #582dc6;
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
    .skillsGrid {
        grid-template-columns: repeat(2, 1fr); /* Two columns for tablets */
    }

    .sectionTitle {
        font-size: 1.8rem; /* Slightly smaller title */
    }
}

@media (max-width: 480px) {
    .skillsGrid {
        grid-template-columns: 1fr; /* Single column for phones */
    }

    .sectionTitle {
        font-size: 1.5rem; /* Smaller title for small phones */
    }

    .skillCard img {
        width: 40px; /* Smaller image for phones */
        height: 40px;
    }

    .skillCard p {
        font-size: 0.8rem; /* Smaller text */
    }
}